@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&family=Style+Script&display=swap");

@import "../bootstrap/scss/functions";

//Colours
$primary: #c44f4f;
$secondary: #767676;
$white: #ffffff;
$dark: #000000;
$light: #e4b1b1;
$custom-control-indicator-focus-border-color: $primary;

//Fonts
$font-family-base: "Lato", sans-serif;
$headings-font-family: "Poppins", sans-serif;

@import "../bootstrap/scss/bootstrap.scss";
@import "./partials/base.scss";
@import "./partials/components.scss";
@import "./partials/layout.scss";
